@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body{background-image: url(./background/country.jpg);
background-color: chartreuse;
background-size: cover;
background-blend-mode: lighten;

}



img{width: 100%;
height: 50%;}



div{width: 32%;
    height: 600px;
    border-width: 1px;
    border-style: solid;
    float: left;
    line-height: 40px;

}
.us{height: 300px;}
p{text-align: center;}
span{  

    font-weight: bold;
}
h1{text-align: center;
    font-family:'Zen Tokyo Zoo', cursive;
font-size: 500%;

}